<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Josh Roberts Portfolio</title>
</head>

<body>
    <div class="container-fluid">

        <div class="card bg-dark text-white">
            <div class="card-content bg-image">

                <div class="card-img-overlay">

                    <div class="main-top-body">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" id="about" href="#">About Me</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="folio" href="#">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact" href="#">Contact Me</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="header-content">
                        <h4 class="card-title folio1">Portfolio</h4>
                        <h1 class="card-title folio2">Josh Roberts</h1>
                        <br>
                        <p>Developer | Front End | Back End</p>
                    </div>
                    <img src="../public/images/Roberts, Josh1.png" class="prof-pic" alt="Josh Roberts">

                </div>

            </div>

        </div>

        <div class="card text-white" id="aboutMe">
            <h2 class="about">- About Me -</h2>
            <div class="row">
                <div class="col-md-8">
                    <p class="card-text">I am a 23-year-old who is motivated and passionate about learning and facing challenges
                        head-on! I am new to coding and developing, but am eager to continue to learn more and more each
                        day on my road to mastery. I truly believe that as long as you continue to struggle and to challenge
                        yourself, that you will only learn more and improve yourself.</p>
                    <p class="card-text">Some fun facts about me: I recently got married in May of 2017 to my beautiful wife
                        Hannah, and we live together in Riverton, Utah. In my free time, I love to play the guitar, get outside
                        and go hit some trails on my mountain bike, or when it's winter time shred some powder on my snowboard.</p>
                </div>
                <div class="col-md-4">
                    <img src="../public/images/Hannah & Josh.jpg" class="hannah-josh-pic" alt="Hannah & Josh" height="236px" width="352px">
                </div>
            </div>
        </div>

        <div class="card" id="portfolio">
            <h2>- Projects -</h2>
            <div class="row mt-4">
                <div class="col-md-1"></div>

                {{!-- CAROUSEL --}}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../public/images/Giphy-Icon.png" alt="Giphy Reactions App">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://josro14.github.io/GiphyApp/" target="_blank">
                                    <h5>Giphy Reactions App</h5>
                                </a>
                                <p>Find all your favorite GIFs</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../public/images/gigspotlogo.png" alt="Local Gigspot">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://github.com/josro14/801-Gigspot" target="_blank">
                                    <h5>Local Gigspot</h5>
                                </a>
                                <p>Connecting local musicians with local venues</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../public/images/gem.png" alt="Crystal Collector">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://github.com/josro14/Crystal-Collector" target="_blank">
                                    <h5>Crystal Collector</h5>
                                </a>
                                <p>Try to collect just the right amount of crystals in this fun game</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../public/images/Cool Text - HANGMAN2.png" alt="LOTR Hangman">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://github.com/josro14/Hangman-Game/tree/master/assets/images" target="_blank">
                                    <h5>Lord of the Rings Hangman</h5>
                                </a>
                                <p>"Some letters to rule them all, some letters to find them..."</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../public/images/train-background.png" alt="Train Tracker">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://josro14.github.io/TrainGame/" target="_blank">
                                    <h5>Train Tracker</h5>
                                </a>
                                <p>Don't miss your train!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../public/images/outdoorrepologo.png" alt="Outdoor Repo">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="https://github.com/acd37/outdoorRepo" target="_blank">
                                    <h5>Outdoor Repo</h5>
                                </a>
                                <p>Purchase all of your outdoor gear here, while making a difference</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                {{!--
                <div class="col-sm-12 col-md-7 mb-sm-4 mb-md-0 ">
                    <div class="card mb-4 folioBody">
                        <div class="card-body text-left">
                            <h2 class="card-title">- Portfolio -</h2>
                            <div class="row-md-12">
                                <div class="card-deck">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a href="https://josro14.github.io/GiphyApp/" target="_blank">
                                                <img class="card-img-top" src="../public/images/giphy_logo.png" alt="Giphy App">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Giphy Reactions App</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="https://github.com/josro14/801-Gigspot" target="_blank">
                                                <img class="card-img-top" src="../public/images/gigspotlogo.png" alt="Gigspot">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">801-Gigspot</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="https://github.com/josro14/Crystal-Collector" target="_blank">
                                                <img class="card-img-top" src="../public/images/gem.png" alt="Crystal Collector">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Crystal-Collector</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row sec-row">
                                        <div class="col-md-5">
                                            <a href="https://github.com/josro14/Hangman-Game/tree/master/assets/images" target="_blank">
                                                <img class="card-img-top" src="../public/images/Cool Text - HANGMAN2.png" alt="Hangman Game">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">LOTR Hangman</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="https://josro14.github.io/TrainGame/" target="_blank">
                                                <img class="card-img-top" src="../public/images/train-background.png" alt="Train Tracker">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Train Tracker</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="https://github.com/acd37/outdoorRepo" target="_blank">
                                                <img class="card-img-top" src="../public/images/outdoorrepologo.png" alt="Outdoor Repo">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Outdoor Repo</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
                <div class="col-md-3">
                    <div class="card mb-4 connectWith">
                        <div class="card-body text-center">
                            <h3 class="card-title">Connect With Me</h3>
                            <a class="connect" href="https://github.com/josro14" target="_blank">
                                <img class="conn" src="../public/images/github_square.png" alt="github" height="70" width="70">
                            </a>
                            <a class="connect" href="https://www.linkedin.com/in/joshua-roberts-906627153/" target="_blank">
                                <img class="conn" src="../public/images/social-linkedin.png" alt="linkedin" height="70" width="70">
                            </a>
                            <a class="connect" href="https://stackoverflow.com/users/9165798/josh-roberts?tab=profile" target="_blank">
                                <img class="conn" src="../public/images/stackoverflow_square.png" alt="stackoverflow" height="70" width="70">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-7 mb-sm-4 mb-md-0" id="contactMe">
            <div class="card mb-4">
                <div class="card-body text-left">
                    <h2 class="card-title">Contact Me</h2>
                    {{msg}}
                    <div>
                        <form method="POST" action="send">
                            <div class="form-group">
                                <label for="fname">Name</label>
                                <input type="text" class="form-control" id="fname" name="name" placeholder="John Smith">

                                <label for="lname">Email</label>
                                <input type="text" class="form-control" id="lname" name="email" placeholder="someone@gmail.com">

                                <label for="message">Message</label>
                                <input type="text" class="form-control" id="message" name="message">

                                <button class="btn btn-secondary" type="submit">Submit</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        &copy;Josh Roberts
        <script>
            document.write(new Date().getFullYear())
        </script>
    </footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="../public/javascript/script.js"></script>

</html>