html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card-title folio {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.header-content {
    float: left;
}

.navbar {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    border: solid transparent 2px;
    border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border: solid grey 2px;
    transition: border .2s ease-in;
}

.bg-dark {
    background-color: yellow;
}

.card {
    border-radius: 0px;
}

.card-content {
    margin: auto;
    width: 100%;
    padding: 35px;
    text-shadow: 2px 2px 5px black;
}

.card-content h1 {
    margin: 0 auto;
    text-align: center; 
}

.connectWith {
    border-radius: 10px;
    background-color: #7E8471;
}

.folioBody {
    border-radius: 10px;
    background-color: rgb(126, 132, 113);
}

p {
    line-height: 30px;
    text-align: center;
}

.about {
    text-align: center;
}

#aboutMe {
    padding: 35px;
    background: #7E8471;
}

.bg-image {
    background-image: url("../images/mountains-evening.png");
    min-height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.prof-pic {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 215px;
    width: 215px;
    margin-top: 50px;
    /* box-shadow: 5px 5px 18px black; */
}

.tool-belt {
    padding: 35px;
}

#portfolio {
    background: #B29575;
}

footer {
    padding: 30px;
    text-align: center;
}

h1 {
    text-align: center;
}